.App {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
}

.AppClass {
  height: 97%;
  width: 97%;
  gap: 16px;
  grid-template-columns: 5rem auto 20rem;
  overflow: hidden;
  position: relative;
}